{% extends "server/base.html" %}
{% load staticfiles %}


{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/raton.css" %}"/>
{% endblock extra_css %}

{% block extra_js %}

{% endblock extra_js %}


{% block content %}

	<div class="container" id="mensaje">

		{% if error %}
		<div class="alert alert-danger alert-dismissable fade in">
			<a href="/server/register_user" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<p><strong>Error! </strong>{{error}}</p>
		</div>
		{% endif %}

	</div>

	<div id="formulario" style="{{ margin }}">
		<form id="login_form" method="post" action="/server/register_user/">
			{% csrf_token %}
			<input type="text" name="username" value="" placeholder="Username" />
			<br />
			<input type="password" name="password" value="" placeholder="Password" />
			<br />
			<!-- Provide a button to click to submit the form. -->
			<input class="btn" type="submit" name="submit" value="Registro" />
		</form>
	</div>


{% endblock content %}